fastapi
uvicorn[standard]
python-multipart
opencv-python-headless
numpy
pytesseract
mediapipe==0.10.21
boto3
deepface
tensorflow==2.18.0
tf-keras==2.18.0
pillow
pandas
requests
tqdm
gdown
mtcnn
retina-face
fire
lightphe
lightdsa
python-dotenv
flask
flask-cors

prometheus-fastapi-instrumentator==8.1.0
